<div class="card card-default chat-left-sidebar">


    <form class="card-header px-0">
        <div class="input-group px-5">
            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                   placeholder="Search...">
        </div>
    </form>

    <ul class="card-body px-0 contacts" data-simplebar style="max-height: 630px;">
        {% for chat_room in chat_rooms %}

            <li class="mb-4 px-5 py-2 contact-li {% if forloop.first %} bg-primary {% endif %}" chat-id="chat_{{ chat_room.id }}">
                <a class="media media-message">
                    <div class="position-relative mr-3">
                        <img class="rounded-circle" src="/static/images/user/user-sm-01.jpg"
                             alt="User Image">
                        <span class="status away"></span>
                    </div>

                    <div class="media-body">
                        <div class="message-contents">
                <span class="d-flex justify-content-between align-items-center mb-1">
                  <span class="username text-dark">{{ chat_room.roomname }}</span>
                  <span class="">
                    <span class="state text-smoke"><em>5min</em></span>
                  </span>
                </span>
                            {% with messages=chat_room.message_set.all %}
                                <p class="last-msg text-smoke">{{ messages.last.content }}</p>
                            {% endwith %}


                        </div>
                    </div>
                </a>
            </li>

        {% endfor %}


    </ul>
</div>